body {
    margin: 0;
}

form span {
    display: inline-block;
}

a:link, a:visited {
    color: white;
}

#submit a:link, #submit a:visited {
    color: #0D4D19;
}

#form {
    padding: 0 20px;
}

p, button {
    font-size: 1.1rem;
    font-weight: bold;
}

img {
    height: 120px;
    margin: 10px;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 20px 30px 20px 0px;
  }

li {
    padding: 5px 0px;
}

input {
    display: block;
    border: 1px solid rgb(230, 230, 230);
}

input:focus {
    border: 2px solid blue;
}

button {
    background-color: #0D4D19;
    padding: 6px 12px;
    color: white;
}

.container {
    display: flex;
    height: 100vh;
}

#footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
}

#banner {
    position: relative;
    top: 60px;
    background-color: rgb(34, 34, 34, 0.7);
    height: 130px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner-text {
    font-size: 3rem;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

#bg-container {
    display: flex;
    flex-basis: 600px;
    align-items: center;
    flex-direction: column;
    background: center url(images/coffee-800.jpg);
    color: white;
    /* flex-shrink: 0;
    overflow: hidden; */
}

/* #bg-container img {
    width: 800px;    
} */

#form-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#hero {
    background-color: rgb(245, 245, 245);
    flex: 1;
    padding: 0 20px;
}

#hero h2 {
    margin-top: 60px;
}

#form h2 {
    margin: 0;
    padding: 0;
}

#form {
    flex: 0;
    padding: 20px;
}

#submit {
    background-color: rgb(245, 245, 245);
    flex: 1;
    padding: 20px;
}