body {
    margin: 0;
}

form span {
    display: inline-block;
}

a:link, a:visited {
    color: white;
}

#form {
    padding: 0 20px;
}

img {
    height: 120px;
}

.container {
    display: flex;
    height: 100vh;
}

#footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
}

#banner {
    position: absolute;
    top: 60px;
    background-color: rgb(34, 34, 34);
    opacity: 70%;
    height: 130px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner-text {
    font-size: 4rem;
    padding: 10px;
}

#bg-container {
    display: flex;
    flex-basis: 600px;
    align-items: center;
    flex-direction: column;
    background: center url(images/coffee-800.jpg);
    color: white;
    position: relative;
    /* flex-shrink: 0;
    overflow: hidden; */
}

/* #bg-container img {
    width: 800px;    
} */

#form-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#hero {
    background-color: #c7c0c0;
    flex: 1;
    padding: 0 20px;
}

#hero h2 {
    margin-top: 60px;
}

#form {
    background-color: #8ddbc8;
    flex: 1;
    padding: 0 20px;
}

#submit {
    background-color: #7c7676;
    flex: 1;
    padding: 20px;
}