body {
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

#bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 600px;
    overflow: hidden;
}

#bg-container img {
    width: 800px;    
}

#form-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #c55282;
}

#hero {
    background-color: #c7c0c0;
    flex: 1;
}

#form {
    background-color: #8ddbc8;
    flex: 1;
}

#submit {
    background-color: #7c7676;
    flex: 1;
}